
/* add font-face */
.wrapper { background: #5267AB; margin: 30px; height: 300px; border-radius: 20px; overflow: hidden; position: relative;} 
.clone { width: 80px; height: 80px; border-radius: 50%; /* background: red; */ position: absolute; transition: all .5s; font-size: 60px; cursor: pointer; text-align: center; } 
/* span { font-size: 60rem; width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: block; text-align: center; color: #F7D9D3; z-index: 21; cursor: pointer; } 
span:before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%;  transition: all 1.5s; border-radius: 50%; transform-origin: center center; z-index: 20; background: transparent; } 
i { position: relative; z-index: 999; font-style: normal; } 
.clone:hover span:before {/*  transform: scale(30); z-index: 999;   */


/* .overlay{position: absolute; background: salmon; width: 100%; height: 100%;} */
